html {
    scroll-behavior: smooth;
}

/*estilo del navbar*/

.navbar,
#navbarNav,
.navbar-collapse,
li {
    background: none;
    margin: 0 30px;
}

.navbar {
    background-color: transparent;
    transition: background-color 0.5s ease;
    /* transición suave */
}

.navbar-brand {
    color: white;
    height: auto;
    width: 50px;
}

.nav-link {
    color: white;
}

body {
    color: white;
}

/*css de Quienes Somos*/

#quienes-somos {
    text-align: center;
    padding: 2rem;
}

.texto-cl {
    border-bottom: 1px solid #a39b9b;
    padding-bottom: 45px;
    margin-left: 100px;
    margin-right: 100px;
}

.container .cont-icon1 {
    background-color: #328998;
    margin-top: 80px;
    padding: 5px;
}


#icon-m {
    margin-top: 2px !important;
}

#parrafo-m {
    margin-top: 80px !important;
}

.parrafo {
    text-align: justify;
    margin-top: 5px;
}

.parrafo .p2 {
    padding-top: 10px;
}

#quienes-somos,
#cards,
#formulario,
#footer {
    height: 100%;
    background-color: black;
    margin-top: auto;
    padding: 4rem;
}

/*css #cards*/

.row .card-r {
    padding: 30px;
}

#cards h3 {
    text-align: center;
    padding: 2rem;
}

.card-st {
    width: 15rem;
    padding: 10px;
}

.card-body {
    background-color: #328998;
}

.card-img-top {
    height: 150px;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.card-img-top:hover {
    transform: scale(1.1);
}

.card-st img {
    border-radius: 10px 10px 0 0;
}

.card-body {
    border-radius: 0 0 10px 10px;
}

/* CSS formulario contacto*/

.contacto {
    text-align: center;
    border-bottom: 1px solid #a39b9b;
    padding-bottom: 45px;
    margin-left: 100px;
    margin-right: 100px;
}

#exampleInputMensaje1 {
    height: 200px;
}

#cont-form {
    padding-top: 100px !important;
}

/*footer*/

#footer {
    background-color: #328998;
}

.container.c2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .i2 {
    margin-left: 10px;
}

.container .iconos i {
    margin-right: 10px;
}

i {
    width: 30px;
}