html {
    scroll-behavior: smooth;
}

/*estilo del navbar*/
.navbar-brand {
    color: white;
    height: auto;
    width: 50px;
}

.nav-link {
    color: white;
}

body {
    color: white;
}

.textoqs {
    text-align: center;
}

#quienes-somos,
#cards,
#formulario,
#footer {
    height: 50rem;
    background-color: black;
    margin-bottom: 1rem;
}